/* Variable & Mixins */
@use "../../assets/sass/base/variables" as vars;
@use "../../assets/sass/base/mixins" as mixins;

.dp-btn {
  display: inline-block;
  line-height: 1.6;
  font-family: vars.$font-family-extra;
  font-size: 18px;
  color: vars.$title-color-dark !important;
  padding: 14px 40px 17px;
  border-radius: 300px;
  font-weight: 600;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  @include mixins.transition(all 0.3s ease-in-out);
  &[type="submit"] {
    border-radius: 5px;
    padding: 20px 40px;
  }
  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
    border: none;
    text-decoration: none;
  }
  @include mixins.big_screen {
    padding: 12px 35px 15px;
  }
  @include mixins.large_screen {
    padding: 11px 30px 14px;
  }
  @include mixins.desktop {
    &[type="submit"] {
      padding: 15px 30px;
    }
  }
  @include mixins.mobile {
    padding: 9px 30px 12px;
  }

  &--large {
    padding: 15px 45px 18px;
    font-size: 20px;
    &[type="submit"] {
      padding: 20px 50px;
    }
    @include mixins.big_screen {
      font-size: 18px;
    }
    @include mixins.large_screen {
      &[type="submit"] {
        padding: 20px 40px;
      }
    }
    @include mixins.desktop {
      &[type="submit"] {
        padding: 15px 30px;
      }
    }
  }
  &--small {
    padding: 9px 30px 10px;
    &[type="submit"] {
      padding: 15px 30px;
    }
    @include mixins.big_screen {
      font-size: 16px;
    }
    @include mixins.large_screen {
      padding: 7px 30px 10px;
    }
    @include mixins.mobile {
      padding: 7px 20px 10px;
    }
  }
  &.primary {
    background-color: vars.$color__primary;
    &:hover {
      background-color: vars.$color__main;
    }
  }
  &.secondary {
    background-color: vars.$color__main;
    &:hover {
      background-color: vars.$color__primary;
    }
  }
}
