/* Global style */
body {
  line-height: 1.6;
  font-weight: 400;
  font-size: 18px;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  font-family: $font-family-main;
  transition: background-color 0.3s;
  @media screen and (max-width: 1600px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-extra;
  color: $title-color;
}

/* Button Hamburger */
.hamburger-toggle {
  width: 20px;
  height: 14px;
  align-items: center;
  cursor: pointer;
  display: none;
  position: relative;
  @include desktop {
    display: flex;
  }
  span {
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: $color__main;
    @include transition(all 0.2s ease-in-out);
    &:first-child {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translate(0, -50%);
    }
    &:last-child {
      bottom: 0;
    }
  }
  &.active {
    span {
      &:first-child {
        top: 6px;
        transition-delay: 0.1s;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg);
        bottom: 6px;
        transition-delay: 0.1s;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1344px;
  }
}
