/* Light mode variables */
$background-color-light: #ffffff;
$title-color-light: #000000;
$text-color-light: #54545f;

/* Dark mode variables */
$background-color-dark: #252439;
$title-color-dark: #ffffff;
$text-color-dark: #aaaaba;

/* Default variables (use light mode by default) */
$background-color: $background-color-light;
$text-color: $text-color-light;
$title-color: $title-color-light;

/* color */
$color__main: #fb503b;
$color__primary: #142eb5;
$color__secondary: #0b1c77;
$color__third: #6e7fd1;
$color__light: #ffffff;
$color__dark: #000000;
$color__blue: #50c5f0;
$color__pink: #f05c6e;
$color__error: #ff2c2c;
$color__background: #343c55;
$color__background-second: #444359;
$color__gray: #b7bac5;
$color__gray-second: #8d8d8e;
$color__gray-third: #cacdd3;
$color__gray-four: #999999;
$color__gray-five: #54545f;

/* font */
$font-family-logo: "Roboto", sans-serif;
$font-family-main: "Open Sans", sans-serif;
$font-family-extra: "Barlow", sans-serif;

/* Animation delay and duration custom */
.animate__duration-1s {
  animation-duration: 1s;
}
.animate__duration-1_2s {
  animation-duration: 1.2s;
}

@for $i from 1 through 9 {
  .animate__delay-0_#{$i}s {
    animation-delay: #{"0.#{$i}s"} !important;
  }
}

@for $i from 1 through 9 {
  .animate__delay-1_#{$i}s {
    animation-delay: #{"1.#{$i}s"} !important;
  }
}

@for $i from 1 through 9 {
  .animate__delay-2_#{$i}s {
    animation-delay: #{"2.#{$i}s"} !important;
  }
}

@for $i from 1 through 9 {
  .animate__delay-3_#{$i}s {
    animation-delay: #{"3.#{$i}s"} !important;
  }
}

@for $i from 1 through 9 {
  .animate__delay-4_#{$i}s {
    animation-delay: #{"4.#{$i}s"} !important;
  }
}

@for $i from 1 through 9 {
  .animate__delay-5_#{$i}s {
    animation-delay: #{"5.#{$i}s"} !important;
  }
}

@for $i from 1 through 9 {
  .animate__delay-6_#{$i}s {
    animation-delay: #{"6.#{$i}s"} !important;
  }
}

@for $i from 1 through 9 {
  .animate__delay-7_#{$i}s {
    animation-delay: #{"7.#{$i}s"} !important;
  }
}

@for $i from 1 through 9 {
  .animate__delay-8_#{$i}s {
    animation-delay: #{"8.#{$i}s"} !important;
  }
}

@for $i from 1 through 9 {
  .animate__delay-9_#{$i}s {
    animation-delay: #{"9.#{$i}s"} !important;
  }
}
