/* Variable & Mixins */
@use "../../assets/sass/base/variables" as vars;
@use "../../assets/sass/base/mixins" as mixins;

.modal-popup-pd {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100dvh;
  width: 100dvw;
  z-index: -10;
  background-color: rgba($color: vars.$color__dark, $alpha: 0.9);
  opacity: 0;
  visibility: hidden;
  @include mixins.transition(all 0.4s ease);
  .close {
    position: absolute;
    top: 0;
    right: -70px;
    padding: 0;
    border: 2px solid vars.$color__light;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixins.transition(all 0.4s ease);
    img {
      width: 18px;
      height: 18px;
      @include mixins.transition(all 0.3s ease-in-out);
    }
    &:hover {
      border-radius: 50%;
    }
    @include mixins.tablet {
      right: 0;
      top: -40px;
      width: 30px;
      height: 30px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  .group-box-inner {
    padding: 50px 0;
    position: absolute;
    width: 968px;
    height: calc(100vh - 140px);
    left: 50%;
    top: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    background-color: vars.$color__light;
    @include mixins.translate(-50%, -50%);
    @include mixins.transition(all 0.4s ease);
    @include mixins.big_screen {
      padding: 40px 0;
      width: 800px;
    }
    @include mixins.desktop {
      width: 500px;
      padding: 35px 0;
    }
    @include mixins.mobile {
      width: calc(100% - 30px);
      height: calc(100vh - 180px);
      padding: 30px 0;
    }
    @media screen and (max-width: 736px) and (orientation: landscape) {
      width: calc(100% - 40px);
      height: calc(100vh - 120px);
      padding: 30px 0;
    }
  }
  .description-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 50px;
    overflow-y: scroll;
    @include mixins.big_screen {
      padding: 0 40px;
    }
    @include mixins.desktop {
      padding: 0 35px;
    }
    @include mixins.mobile {
      padding: 0 20px;
    }
    @include mixins.small_screen {
      padding: 0 15px;
    }
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: vars.$color__gray-four;
      border-radius: 0;
      box-shadow: none;
    }
  }
  .top-img {
    margin-bottom: 37px;
    @include mixins.desktop {
      margin-bottom: 30px;
    }
    @include mixins.mobile {
      margin-bottom: 25px;
    }
    @include mixins.small_screen {
      margin-bottom: 12px;
    }
    img {
      border-radius: 12px;
      width: 100%;
      height: auto;
    }
  }
  .popup-details {
    font-size: 18px;
    @include mixins.big_screen {
      font-size: 16px;
    }
    h3 {
      margin-bottom: 5px;
      font-size: 25px;
      @include mixins.desktop {
        font-size: 22px;
      }
      @include mixins.small_screen {
        font-size: 20px;
      }
      br {
        display: none;
      }
    }
    .category {
      font-size: 16px;
      display: inline-block;
      margin-bottom: 20px;
      @include mixins.small_screen {
        margin-bottom: 15px;
        font-size: 14px;
      }
    }
    .main-details {
      display: flex;
      gap: 80px;
      margin-bottom: 60px;
      @include mixins.desktop {
        display: block;
      }
      @include mixins.mobile {
        margin-bottom: 40px;
      }
      .text-box {
        width: 70%;
        @include mixins.desktop {
          margin-bottom: 40px;
          width: 100%;
        }
        @include mixins.mobile {
          margin-bottom: 30px;
        }
      }
      .details-box {
        width: 30%;
        @include mixins.desktop {
          width: 100%;
        }
      }
    }
    .details-box {
      &--item {
        margin-bottom: 10px;
        font-size: 16px;
        @include mixins.small_screen {
          font-size: 15px;
        }
        .label {
          font-size: 18px;
          font-weight: 600;
          color: vars.$color__dark;
          @include mixins.small_screen {
            font-size: 16px;
          }
        }
      }
    }
    .text-box {
      p {
        margin-bottom: 15px;
      }
      @include mixins.small_screen {
        font-size: 15px;
        p {
          font-size: 15px;
        }
      }
    }
    .additional-images {
      ul {
        display: grid;
        padding: 0;
        margin: 0;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        li {
          &:first-child {
            grid-column: 1 / 3;
          }
          height: 0;
          position: relative;
          padding-top: 50%;
          width: 100%;
          img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 12px;
          }
        }
        @include mixins.desktop {
          gap: 20px;
          grid-template-columns: repeat(1, 1fr);
          li {
            &:first-child {
              grid-column: 1;
            }
          }
        }
        @include mixins.small_screen {
          gap: 15px;
        }
      }
    }
  }
  &.video,
  &.audio {
    .close {
      right: 0;
      top: -40px;
      border: none;
      width: fit-content;
      @include mixins.mobile {
        top: -35px;
      }
      &:hover {
        img {
          @include mixins.rotate(90);
        }
      }
    }
    .group-box-inner {
      height: fit-content;
      padding: 0;
      @include mixins.desktop {
        width: 700px;
      }
      @include mixins.tablet {
        width: calc(100% - 50px);
      }
      @include mixins.mobile {
        width: calc(100% - 20px);
      }
    }
    .video-audio-wrap {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      background-color: vars.$color__dark;
      @media screen and (max-width: 736px) and (orientation: landscape) {
        padding-top: 46%;
      }
      .no-data {
        position: absolute;
        color: vars.$color__light;
        font-weight: 400;
        top: 50%;
        left: 50%;
        @include mixins.translate(-50%, -50%);
      }
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-color: vars.$color__dark;
    }
  }
  &.show {
    opacity: 1;
    z-index: 10000;
    visibility: visible;
    .group-box-inner {
      opacity: 1;
      visibility: visible;
    }
  }
}

@include mixins.ThemeMode {
  .modal-popup-pd {
    .group-box-inner {
      background-color: #34353a;
    }
    .details-box {
      &--item {
        .label {
          color: vars.$color__light;
          font-weight: 500;
        }
      }
    }
  }
}
