/* Variable & Mixins */
@use "../../assets/sass/base/variables" as vars;
@use "../../assets/sass/base/mixins" as mixins;

.sidebarPD {
  .list-blog-wrapper {
    .search-filter {
      width: 100% !important;
      input {
        width: 100% !important;
      }
    }
    .result-not-found {
      margin: 0 auto !important;
      font-size: 14px;
      width: 90% !important;
    }
    .group-filter-sort-action {
      margin-bottom: 32px;
    }
    .card-blog-pd {
      .feature-img {
        border-radius: 8px;
      }
      .infor-wraper {
        margin: 0 0 8px 0;
      }
      .title {
        font-size: 16px;
        color: vars.$text-color-light;
        @include mixins.limit-line(2, 45);
        @include mixins.tablet {
          @include mixins.limit-line(3, 67);
        }
        @include mixins.mobile {
          font-size: 15px;
          @include mixins.limit-line(2, 42);
        }
      }
      .blog-item-inner {
        gap: 10px;
      }
    }
  }
}

@include mixins.ThemeMode {
  .sidebarPD {
    .list-blog-wrapper {
      .card-blog-pd {
        .title {
          color: vars.$color__light;
        }
      }
    }
  }
}
