/* Variable & Mixins */
@use "../../assets/sass/base/variables" as vars;
@use "../../assets/sass/base/mixins" as mixins;

.scroll-progress-bars {
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  font-family: vars.$font-family-extra;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  .label-bar {
    color: vars.$color__dark;
    margin-bottom: 10px;
  }
  .label-percent {
    color: vars.$color__main;
    position: absolute;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition: left 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .progress {
    height: 8px;
    width: 100%;
    border-radius: 100px;
  }
  .progress-bar {
    border-radius: 100px;
    width: 0;
    height: 100%;
    transition: width 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &.animate-start {
    .label-percent {
      opacity: 1;
      left: var(--label-position);
    }
    .progress-bar {
      width: var(--progress-value);
    }
  }
}

@include mixins.ThemeMode {
  .scroll-progress-bars {
    .label-percent,
    .label-bar {
      color: vars.$color__light !important;
    }
    .progress-bar {
      background-color: vars.$color__main !important;
    }
  }
}
