/* Variable & Mixins */
@use "../../assets/sass/base/variables" as vars;
@use "../../assets/sass/base/mixins" as mixins;

.taxs-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  .label {
    font-size: 15px;
    font-weight: 600;
    color: vars.$text-color-light;
    font-size: 14px;
  }
  .taxs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    .tax {
      a {
        width: fit-content;
        display: block;
        padding: 5px 13px 5px;
        font-size: 13px;
        border-radius: 100px;
        border: 1px solid vars.$color__gray-sev;
        line-height: 1.4;
      }
      &:hover {
        a {
          background-color: vars.$color__main;
          border-color: vars.$color__main;
          color: vars.$color__light;
        }
      }
    }
  }
}
@include mixins.ThemeMode {
  .taxs-wrapper {
    .label {
      color: vars.$text-color-dark;
    }
  }
}
