/* Variable & Mixins */
@use "../../assets/sass/base/variables" as vars;
@use "../../assets/sass/base/mixins" as mixins;

.taxonomy-list-wrapper {
  .title-taxonomy {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .taxonomy-list {
    .item-taxonomy {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: inline-block;
        font-weight: 400;
      }
    }
  }
  &.type-tag {
    .taxonomy-list {
      display: flex;
      flex-wrap: wrap;
      .item-taxonomy {
        margin: 0 7px 7px 0;
        a {
          width: fit-content;
          display: block;
          padding: 8px 25px 10px;
          font-size: 15px;
          border-radius: 100px;
          border: 1px solid vars.$color__gray-sev;
          line-height: 1.4;
        }
        &:hover {
          a {
            background-color: vars.$color__main;
            border-color: vars.$color__main;
            color: vars.$color__light;
          }
        }
      }
    }
  }
}
.taxonomy-list-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  @include mixins.big_screen {
    gap: 30px;
  }
  @include mixins.desktop {
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include mixins.mobile {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}
