/* Variable & Mixins */
@use "../../../assets/sass/base/variables" as vars;
@use "../../../assets/sass/base/mixins" as mixins;

.card-blog-pd {
  position: relative;
  @include mixins.desktop {
    gap: 25px !important;
  }
  @include mixins.mobile {
    gap: 20px !important;
  }
  .blog-item-inner {
    @include mixins.desktop {
      margin-bottom: 10px;
    }
  }
  .link-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 5;
  }
  .feature-img {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 68%;
    overflow: hidden;
    border-radius: 13px;
    margin-bottom: 20px;
    z-index: 1;
    @include mixins.mobile {
      margin-bottom: 12px;
      border-radius: 10px;
    }
    img {
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      @include mixins.transition(all 0.3s ease-out);
    }
  }
  .infor-wraper {
    margin-bottom: 2px;
    .post-date {
      font-weight: 500;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  .cat {
    font-weight: 600;
    font-family: vars.$font-family-extra;
    font-size: 16px;
    color: vars.$color__main;
    margin-bottom: 2px;
  }
  .title {
    color: vars.$color__dark;
    font-size: 21px;
    font-weight: 600;
    font-family: vars.$font-family-extra;
    line-height: 1.4;
    @include mixins.transition(all 0.3s ease-out);
    @include mixins.big_screen {
      font-size: 19px;
    }
    br {
      display: none;
    }
  }
  .excerpt {
    font-weight: 400;
    margin-top: 6px;
    font-size: 15px;
    @include mixins.limit-line(3, 72);
  }
  .taxs-wrapper {
    gap: 6px;
    .label {
      font-size: 12px;
    }
    .taxs-list {
      gap: 5px;
      .tax {
        a {
          font-size: 11px;
          padding: 4px 12px 5px;
        }
      }
    }
  }
  &:hover {
    .feature-img {
      img {
        @include mixins.scale(1.1);
      }
    }
    .title {
      color: vars.$color__main !important;
    }
  }
  &.horizontal {
    .cat {
      font-size: 19px;
      @include mixins.tablet {
        font-size: 16px;
      }
      @include mixins.mobile {
        font-size: 15px;
      }
      @include mixins.small_screen {
        font-size: 14px;
      }
    }
    .title {
      font-size: 24px;
      @include mixins.desktop {
        font-size: 22px;
      }
      @include mixins.tablet {
        font-size: 20px;
      }
      @include mixins.mobile {
        font-size: 16px;
        @include mixins.limit-line(1, 23);
      }
      @include mixins.small_screen {
        font-size: 15px;
      }
    }
    .excerpt {
      @include mixins.mobile {
        margin-top: 3px;
        @include mixins.limit-line(2, 48);
        font-size: 13px;
      }
    }
    .blog-item-inner {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 0;
      @include mixins.desktop {
        gap: 25px;
      }
      @include mixins.tablet {
        gap: 20px;
      }
      @include mixins.mobile {
        gap: 15px;
      }
    }
    .feature-img {
      margin-bottom: 0;
      width: 28%;
      height: fit-content;
      padding-top: 0;
      img {
        aspect-ratio: 1;
        position: static;
      }
    }
    .group-text {
      width: 72%;
    }
  }
}

@include mixins.ThemeMode {
  .card-blog-pd {
    .title {
      color: vars.$color__light;
    }
    &:hover {
      .title {
        color: vars.$color__main;
      }
    }
  }
}
