/* === Main style === */
@use "./assets/sass/main.scss" as *;
/* === End main style === */

/* === Reset DOM === */
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

input,
textarea,
select,
button {
  outline: none;
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* === End reset DOM === */
