/* Variable & Mixins */
@use "./base/variables" as vars;
@use "./base/mixins" as mixins;

/* Source File */
@use "./base/global" as *;
@use "./site/header" as *;
@use "./site/footer" as *;
@use "./pages/home" as *;

/* Dark Mode */
@include mixins.ThemeMode {
  $background-color: vars.$background-color-dark;
  $text-color: vars.$text-color-dark;
  $title-color: vars.$title-color-dark;

  body {
    background-color: $background-color;
    color: $text-color;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $title-color;
  }
  a {
    color: $title-color;
    &:hover {
      color: vars.$color__main;
    }
  }
  .site-header {
    &.shrink {
      background-color: rgba($color: $background-color, $alpha: 1);
      @include mixins.box-shadow(0, 0, 10px, rgba(255, 255, 255, 0.1));
      .site-logo {
        color: $title-color;
      }
      .theme-toggle {
        svg {
          fill: $title-color;
        }
      }
      .hamburger-toggle {
        span {
          background-color: $title-color;
        }
      }
      .navigation-desktop {
        ul {
          li {
            color: $title-color;
            a {
              color: $title-color;
            }
          }
        }
      }
    }
    &.active {
      background-color: rgba($color: $background-color, $alpha: 1);
      .site-logo {
        color: $title-color;
      }
      .theme-toggle {
        svg {
          fill: $title-color;
        }
      }
      .hamburger-toggle {
        span {
          background-color: $title-color;
        }
      }
    }
  }
  .site-navigation-mobile {
    background-color: $background-color;
    .navigation-list {
      li {
        color: $title-color;
        a {
          color: $title-color;
        }
      }
    }
  }
}
